body
{
	padding-bottom: 50px;
}



.panel-body
{
	padding-top:30px !important;
}

.container
{
	max-width: 730px;
}

#dropzone
{
	padding: 25px;
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #bbb;
	text-align: center;
	font: 20pt bold;
}
